body {
    margin: 10px 10px 10px 10px;
    text-align: justify;
    color: black;
    background-color: #FFFAFA;
    width: 97%;
}

h1, h2 {
    font-size: 30px;
    text-align: center;
    color: DarkRed;
}

h3 {color: blue; text-align: left;}
p {text-align: justify; font-family: 'Montserrat', "Times New Roman";}

h4 {text-align: left;}

picture {float: left;}



